<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/public::head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端设置-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="../../static/semantic/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="admin/public::topbar(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tag icon"></i>标签</a>
            <div class="right menu m-item item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/me.jpg" alt="" class="ui avatar image">
                        zc
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/toAddBlog}" class="item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="active teal item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" th:action="@{/admin/blogs/search}" method="post" class="ui secondary segment form">
            <div class="inline fields">
                <div class="field">
                    <input  type="text" name="title"  placeholder="标题">
                </div>
                <div class="field">
                    <select name="type" class="ui selection dropdown">
                        <option th:value="0"></option>
                        <option th:text="${type.name}" th:each="type:${types}" th:value="${type.id}" value="1">学习</option>
                    </select>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" value="1" name="recommed" id="recommed">
                        <label for="recommed">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </form>
        <table class="ui compact teal celled table">
            <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>分类</th>
                    <th>是否推荐</th>
                    <th>是否发布</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="blog ,iterstat : ${blogs}">
                    <td th:text="${iterstat.count}">1</td>
                    <td th:text="${blog.title}">刻意练习清单</td>
                    <td th:text="${blog.type.name}" >认知升级</td>
                    <td th:text="${blog.recommend}==1?'是':'否'">是</td>
                    <td th:text="${blog.published}==1?'是':'否'">是</td>
                    <td th:text="${#dates.format(blog.update_time,'yyyy-MM-dd HH:ss')}">2020-01-01 09:45</td>
                    <th>
                        <a href="#" th:href="@{/admin/blogs/toEditBlog/{id}(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/deleteBlog/{id}(id=${blog.id})}"  class="ui mini red basic button">删除</a>
                    </th>
                </tr>
            </tbody>
            <tfoot class="left aligned">
                <tr>
                    <th colspan="7">
                        <div class="ui pagination menu mini">
                            <a href="#" th:if="${page.hasPrevious}" th:href="@{'?start='+${(page.start)-page.count}}" class="item">上一页</a>
                            <a href="#" th:if="${!page.hasPrevious}" th:href="@{'?start=0'}" class="item">上一页</a>
                            <a href="#" th:if="${page.hasNext}" th:href="@{'?start='+${page.start+page.count}}" class="item">下一页</a>
                            <a href="#" th:if="${!page.hasNext}" th:href="@{'?start='+${page.last}}" class="item">下一页</a>
                        </div>
                        <a href="#" th:href="@{/admin/blogs/toAddBlog}" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--底部footer-->
<footer th:replace="admin/public::footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.png" class="ui rounded image" alt="" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">QQ：271765036</a>
                    <a href="#" class="item m-text-thin">Email：271765036@qq.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2021 ZC Designed by ZC</div>
    </div>
</footer>

<th:block th:replace="admin/public::script">
<script src="../../static/js/jquery-3.4.1.min.js"></script>
<script src="../../static/semantic/semantic.js"></script>
</th:block>

<script>
    /*手机端的menu*/
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    /*下拉*/
    $('.ui.dropdown').dropdown();

</script>
</body>
</html>